* {
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
    cursor: default;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

header {
    background-color: rgba(255, 255, 255, .1);
    padding: 10px 15px;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    margin: 15px 0;
}

main {
    display: block;
    margin: 15px;
}